<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
        <add key="WSGI_ALT_VIRTUALENV_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
        <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="env\Scripts\python.exe" />
        <add key="WSGI_HANDLER" value="ptvs_virtualenv_proxy.get_venv_handler()" />
        <add key="PYTHONPATH" value="%APPL_PHYSICAL_PATH%" />
        <add key="DJANGO_SETTINGS_MODULE" value="mysite.settings" />
    </appSettings>
    <system.webServer>
        <handlers>
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python35\python.exe|C:\Python35\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
