 <script>
    function validateForm() {

        var f = document.forms["myForm"]["id_file_obj"].value;

        if (f == "") {
            alert('Файл не загружен');
            return false;
        }

        if ( f != "") {
        document.getElementById("saving-dialog").style.display = "block";
        //document.write('<div style="font-family: sans-serif; position: fixed; left: 0; top: 0; right:0; bottom:0; background: rgb(129, 166, 197); z-index: 30;"><div style="width: 250px; height: 100px; position: absolute; left: 50%;top: 48%; margin-left:-125px; margin-top:-75px; color:#fff; font-size:40px; letter-spacing:-2px; text-align:center; line-height:35px;2"><span style="position: absolute; width: 41px; height: 41px; background: url(../../Images/dddd/ajax_loader_blue_512.gif) center center no-repeat; background-size:41px; margin: -16px 0 0 -16px;"></span><br>Подождите<br><small style="font-size: 25px; padding-top:16px;">идет сохранение данных</small></div></div> ');
         }

    }
</script>
{% extends 'new/base.html' %}
{% block content %}
    <div id="saving-dialog" style="display: none">
                   <div class="contpre77"><span class="svg_anm77"></span><br>Подождите<br><small>идет сохранение данных</small></div>
               </div>
        <h1 style="text-align: center; font-size: 24px; color: #666666;">Форма редактирования материала </h1>
    <div class="post">
        <form name="myForm" enctype="multipart/form-data" onsubmit="return validateForm()" action=""  method="POST" class="post-form">{% csrf_token %}
            <p class="mystyl"> {{ form.branch_science.as_hidden }}</p>

{#             <label class="mystyl2" for="id_last_name1">Материал для конференции</label>#}
             <p class="mystyl"> {{ form.conference.as_hidden }}</p>

            <p class="mystyl" style="width: 95px;"> {{ form.authormatirial2.as_hidden }}</p>


            <p class="mystyl" style="width: 95px;"> {{ form.org.as_hidden }}</p>


            <p class="mystyl"> {{ form.titlematirial.as_hidden }}</p>
{#           <p class="mystyl"> <input style="width: 943px;" class="mystyl"  id="id_titlematirial" maxlength="140" name="titlematirial" type="text"></p>#}



         <p class="mystyl">   {{ form.section.as_hidden }}</p>
{#<p>#}
{#<select>#}
{#{% for ii in form.section %}#}
{#    {% if ii.cofer_id == form.conference_id%}#}
{#    <option {{ ii}}>#}
{#    {% endif %}#}
{#{% endfor %}#}
{#</select>#}
{#</p>#}

{#             <label class="mystyl2" for="id_last_name1">Создатель материала</label>#}
             <p class="mystyl" style="width: 95px;"> {{ form.authormatirial.as_hidden }}</p>
{#            <label class="mystyl2" for="id_last_name1">Дата публикации</label>#}
             <p class="mystyl" style="width: 95px;"> {{ form.published_datematerial.as_hidden }}</p>

             <label class="mystyl2" for="id_last_name1">Файл для загрузки</label>
{#            {{ form.file_obj }}#}

            <input id="id_file_obj" name="file_obj" type="file" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
<p style="margin: 0px;font-size: 15px;color: #b99707; margin-top: 0px;margin-bottom: -5px;">Обязательное поле</p>
<p style="margin: 0px;font-size: 15px;color: #b99707;">Загружать файл в формате .doc, .docx или .pdf</p>
{#             <label class="mystyl2" for="id_last_name1">Текст</label>#}
{#             <p class="mystyl" style="width: 95px;"> {{ form.textmaterial }}</p>#}

            <p class="mystyl" >   {{ form.annotation_rus.as_hidden }}</p>
            <p class="mystyl" >   {{ form.annotation_usa.as_hidden }}</p>
            <p class="mystyl" >   {{ form.keywords_rus.as_hidden }}</p>
            <p class="mystyl" >   {{ form.keywords_usa.as_hidden }}</p>

            <div style="display: none">
             <label class="mystyl2" for="id_last_name1">Для администратора</label>
             <p class="mystyl"> {{ form.message_com.as_hidden }}</p>
              <p class="mystyl"> {{ form.otmenpublic.as_hidden }}</p>

             <label class="mystyl2" for="id_last_name1">Статус</label>
             <p class="mystyl"> {{ form.status.as_hidden }}</p>
             </div>
            <div style="margin-top: 29px;">
            <input style="margin-left: 378px;  margin-bottom: 36px;" type="submit" class="button4" value="Сохранить"/>
            </div>
        </form>
    </div>
    {% endblock %}