{% extends 'new/base.html' %}
{% load staticfiles %}
    {% block content %}
<script>
 $(document).ready(function () {

    var dataTableLanguage = {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать записей _MENU_ ",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            };

            $('#example').dataTable({
                "language": dataTableLanguage,
                "Searchable": false

            });
    });
  </script>
<h1 style="text-align: center; font-size: 24px; color: #666666;">Мои идеи и предложения</h1>
 <div>
<p style="font-size: 12px;"><img style="width: 11px;" src={% static "css/images/kr1.png"%}  > - ожидание</p>

<p style="font-size: 12px;"><img style="width: 11px;" src={% static "css/images/kr2.png"%} > - создан (опубликован в комнате)</p>
<p style="font-size: 12px;"><img style="width: 11px;" src={% static "css/images/kr3.png"%}> - отклонено</p>

</div>
        <table id="example">
<thead>
<tr>
<td style="padding: 10px;">Комната</td>
<td style="padding: 10px;">Заголовок</td>



 <td>Редактировать</td>
<td style="padding: 10px;">Статус</td>
<td style="padding: 10px;">Удалить/Восстановить</td>
</tr>
</thead>
<tbody>
 {% for material in materials %}
{#     {% if material.otmenpublic == True %}#}
<tr style="background: white;  font-size: 12px;">
<td style="padding: 10px; color:#aaaaaa;">{{ material.conference}}</td>
<td style="padding: 10px; color:#aaaaaa;">
<a style=" font-size: 14px; color:rgba(0, 121, 178, 0.86);"  href="{% url 'opisanie_material' pk=material.pk %}">{{ material.titlematirial}}</a>
</td>



<td> <a style=" margin-right: 22px; color: #f16300; font-weight: bold;" href="" onclick = "return confirm('Сайт и страница находится в разработке');" class="button661" title="Редактировать материал"></a></td>
<td style="padding: 10px; color:#aaaaaa;">
 {% if material.status_id == 1 %}
<img style="width: 18px; " src={% static "css/images/kr1.png"%}  >
{% endif %}
{% if material.status_id == 4 %}
<img style="width: 18px;" src={% static "css/images/kr2.png"%} >
{% endif %}
{% if material.status_id == 3 %}
<img style="width: 18px;" src={% static "css/images/kr3.png"%}>
{% endif %}
</td>

<td>
{% if material.otmenpublic == False %}
<a style="color:#00887a; margin-left: 31px;" class="button00vo"  href="{% url 'vostanov' id=material.pk %}" title="Восстановить" ></a>
{% else %}
<a style="color:#00887a; margin-left: 31px;" class="button00"  href="{% url 'otmenpublic' id=material.pk %}" title="Удалить" onclick = "return confirm('Вы уверены, что хотите удалить эту идею или предложение??');" ></a>
{% endif %}
</td>

</tr>
{#     {% endif %}#}
 {% endfor %}
</tbody>
</table>
 {% endblock content %}

