{% extends 'new/base.html' %}
{% block content %}
 <script>
    function validateForm() {
        var x = document.forms["myForm"]["id_full_name"].value;
        var z = document.forms["myForm"]["id_short_name"].value;


        if (x == "" & z == ""){
            alert('Необходимо заполнить поля "Полное название" и "Сокращенное название" ');
            return false;
        }
       if (x == "") {
            alert('Поле "Полное название" необходимо заполнить');
            return false;
        }
       if (z == "") {
            alert('Поле "Сокращенное название" необходимо заполнить');
            return false;
        }

        if (x.length>300 ) {
            alert(' Полное название должно содержать не более 300 символов');
            return false;
        }

        if (z.length>200 ) {
            alert(' Сокращенное название должно содержать не более 200 символов');
            return false;
        }


    }

</script>
        <h1 style="text-align: center; font-size: 24px; color: #666666;">Форма добавления организации в справочник</h1>
    <div class="post">
    {% for message in messages %}
<div style="color: #cd0a0a;font-size: 14px;" class="message {{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
        <form name="myForm" onsubmit="return validateForm()" action=""  method="POST" class="post-form">{% csrf_token %}
             <label class="mystyl2" for="id_last_name1">Полное название</label>
             <p class="mystyl" style="width: 95px;"> {{ form.full_name }}  {{ form.date_launch_po }}</p>

             <label class="mystyl2" for="id_last_name1">Сокращенное название</label>
             <p class="mystyl" style="width: 95px;"> {{ form.short_name}}</p>

            <input style="margin-left: 378px;  margin-bottom: 36px;" type="submit" class="button4" value="Добавить"/>
        </form>
    </div>
    {% endblock %}