{% extends 'new/base.html' %}
    {% block content %}

    <h2 style=" color:rgba(0, 121, 178, 0.86);text-align: center; font-size: 25px;">Добро пожаловать на "Портал идей и предложений"</h2>
<!-- {#        <p style="" >#}
{#Традиционно к одной из самых распространенных форм профессиональной коммуникации относят форму конференции. Стремительное развитие информационно-коммуникационных технологий обусловило появление новых форм профессионального взаимодействия. Наряду с такими формами профессиональной коммуникации как электронный журнал и электронная библиотека, одной из самых распространенных форм, осуществляемых посредством Интернет-технологий, является интернет-конференция. Интернет-конференция относится к числу расширенных коммуникационных сервисов, позволяющих осуществить групповую форму взаимодействия.#}
{#</p>#}
  <h2 style=" color: rgba(0, 121, 178, 0.57); font-size: 22px; text-align: center;">Требования к публикациям</h2>
 <h2 style=" color: rgba(0, 121, 178, 0.57); font-size: 22px;">Статья должна содержать:</h2>
   <ul style="">
     <li> название статьи;</li>
     <li>сведения об авторах (Фамилия, Инициалы; место работы, город, страна; электронный адрес); </li>
     <li> аннотацию в объеме от 50 до 250 слов; </li>
     <li>перечень ключевых слов или фраз в объеме не более 7-10; </li>
  <li>список литературы, рекомендуемым объемом от 10 до 30 ссылок.
Указанные выше пункты должны быть представлены также и в англоязычном варианте. Если в оригинале статья написана на английском языке, то эти сведения рекомендуется привести на русском языке.
</li>

   </ul>

<h2 style=" color: rgba(0, 121, 178, 0.57); font-size: 22px;">Статья должна быть  структурирована, т.е. содержать общепринятые в научных публикациях разделы, а именно: </h2>
   <ul style="">
     <li>введение; </li>
     <li>постановку задачи; </li>
     <li> теоретическую часть;  </li>
     <li>выводы (заключение). </li>

   </ul>
<p>Формулы набираются в Microsoft Equation 3.0 (Редактор формул в Microsoft Word) и нумеруются в круглых скобках. Нумеровать следует только те формулы и уравнения, на которые есть ссылка в последующем изложении.
Таблицы располагаются непосредственно в тексте статьи. Таблица должна иметь заголовок.
Иллюстрации (рисунки, графики) нумеруются в порядке упоминания их в тексте и помещаются в тексте после абзацев, содержащих на них ссылку. Каждый рисунок должен иметь подпись.
</p>
<h2 style=" color: rgba(0, 121, 178, 0.57); font-size: 22px;">Объем рукописи статьи, оформленный в соответствии с приведенными требованиями (шрифтом Times New Roman, размер (кегль) 14, межстрочный интервал 1,5), не должен превышать: </h2>
   <ul style="margin-bottom: 133px;">
     <li>обзорной статьи более 25 страниц; </li>
     <li>статьи более 18 страниц; </li>
     <li> краткого сообщения более 6 страниц.    </li>

   </ul>
 -->

    {% endblock content %}

