{% extends 'new/base.html' %}

    {% block content %}
    <div class="post" >
<h1 style="text-align: center; font-size: 24px; color: #666666;">Справочники</h1>

        <a style="color:rgba(0, 121, 178, 0.86);" href="/vseorganization/" class="button177" title="Справочник организаций" >Справочник организаций</a>
        <a style="color:rgba(0, 121, 178, 0.86); margin-bottom: 107px;" href="/positionspisok/" class="button277" title="Справочник должностей" >Справочник должностей</a>
</div>
 {% endblock content %}